<div id="<%= dom_id flashcard %>">
  <p>
    <strong>Question:</strong>
    <%= flashcard.question %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= flashcard.answer %>
  </p>

  <p>
    <strong>Hint:</strong>
    <%= flashcard.hint %>
  </p>

</div>
