<h1>Editing flashcard</h1>

<%= render 'flashcards/form', flashcard: @flashcard, topic: @topic %>

<br>

<div>
  <%= link_to "Back to flashcards", topic_flashcards_path, class: "btn btn-secondary" %>
</div>
