<div class="list-item">
  <%= render @flashcard %>

  <div>
    <%= link_to "Edit this flashcard", edit_topic_flashcard_path(@topic, @flashcard) %>
    |
    <%= link_to "Back to flashcards", topic_flashcards_path %>

    <%= button_to "Destroy this flashcard", topic_flashcard_path(@flashcard.topic, @flashcard), method: :delete, data: { confirm: "Are you sure you want to destroy this flashcard?" } %>
  </div>
</div>
