<style>
    body {
        display: block !important;
        grid-template-columns: none !important; /* Remove any grid-template-columns */
    }

    *,:before,:after {
        box-sizing: content-box;
    }
</style>

<p style="color: green"><%= notice %></p>

<h1>Topics</h1>

<div id="topics" class="topics-container">
  <% @topics.each do |topic| %>
    <div class="list-item grid-list-item">
      <%= render topic %>
      <p>
        <%= link_to "Show this topic", topic %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New topic", new_topic_path %>
