<h1>Topics</h1>

<div id="topics" class="row g-3 mb-3">
  <% @topics.each do |topic| %>
    <div class="col-12 col-sm-6 col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Title: <%= topic.title %>:</h5>
          <p class="card-text"><strong>Description: </strong><%= topic.description %></p>
          <p>
            <%= link_to "Show this topic", topic, class: "btn btn-primary" %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col">
    <%= link_to "New topic", new_topic_path, class: "btn btn-secondary btn-lg" %>
  </div>
</div>
