<div class="row">
  <div class="col text-center mt-5">
    <div class="jumbotron pb-3">
      <h1 class="display-4">Welcome to StudyBuddy!</h1>
      <p class="lead">Create topics, add flashcards, and start quizzing your way to success!</p>
    </div>

    <div class="row justify-content-center mt-3">
      <div class="col-md-4">
        <h3>1. Create a Topic</h3>
        <p>Organize your study materials by creating different topics for your subjects.</p>
      </div>
      <div class="col-md-4">
        <h3>2. Add Flashcards</h3>
        <p>Add questions, answers, and optional hints to create flashcards for each topic.</p>
      </div>
      <div class="col-md-4">
        <h3>3. Start Quizzing</h3>
        <p>Test your knowledge by quizzing yourself and revealing hints and answers when needed.</p>
      </div>
    </div>

    <div class="mt-5">
      <% if user_signed_in? %>
        <%= link_to "Go to Topics", topics_path, class: "btn btn-primary btn-xlg" %>
      <% else %>
        <li><%= button_to 'Sign In with Google', user_google_oauth2_omniauth_authorize_path, class: "btn btn-success btn-lg mr-2", data: { turbo: false } %></li>
        <li><%= button_to 'Sign In with GitHub', user_github_omniauth_authorize_path, class: "btn btn-success btn-lg mr-2", data: { turbo: false } %></li>
      <% end %>
    </div>
  </div>
</div>
